.popchat {
  position: fixed;
  width: 250px;
  height: 300px;
  right: 20px;
  bottom: 70px;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s;
  z-index: 3;
}
.hidechat {
  transform: translateX(300px);
}

.chatHead {
  width: 100%;
  height: 40px;
  background-color: #4d9ceb;
}
.chatBody {
  width: 100%;
  height: calc(100% - 80px);
  background-color: #eee;
  padding: 10px;
  overflow-y: scroll;
  position: relative;
  .mess {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: 2px 0;
    float: right;
    position: relative;
    .chatContent {
      float: right;
      max-width: 65%;
      background-color: #b3c9ff;
      border-radius: 10px 10px 0 10px;
      word-break: break-all;
      padding: 4px 6px;
    }
    .chatGetTime {
      color: #444444;
      max-width: 35%;
      font-size: 8px;

      position: absolute;
      top: 50%;
    }
  }
}
.chatFoot {
  width: 100%;
  height: 40px;
  background-color: #eee;
  padding: 0 10px;
  position: relative;
  padding-top: 5px;
  input {
    width: calc(100% - 60px);
    height: 30px;
    border: 1px solid #dddddd;
    background: #f9f9f9;
    padding: 6px 10px;
    border-radius: 6px;
    transition: all 0.2s;
    position: absolute;
  }
  .btnSend {
    cursor: pointer;
    position: absolute;
    right: 10px;
    svg {
      fill: #4d9ceb;
    }
  }
}
